[submodule "PROYECTOD1"]
	path = PROYECTOD1
	url = https://github.com/edgar-bonilla/PROYECTOD1.git
[submodule "PROYECTOD2"]
	path = PROYECTOD2
	url = https://github.com/edgar-bonilla/PROYECTOD2.git
[submodule "TAREA2_EDGAR"]
	path = TAREA2_EDGAR
	url = https://github.com/edgar-bonilla/TAREA2_EDGAR.git
[submodule "TAREA3_EDGAR"]
	path = TAREA3_EDGAR
	url = https://github.com/edgar-bonilla/TAREA3_EDGAR.git
[submodule "TAREA1_EDGAR"]
	path = TAREA1_EDGAR
	url = https://github.com/edgar-bonilla/TAREA1_EDGAR.git
[submodule "TAREA4_EDGAR"]
	path = TAREA4_EDGAR
	url = https://github.com/edgar-bonilla/TAREA4_EDGAR.git
